.auth-screen {
    height: 100%;

    display: grid;

    align-self: stretch;
    justify-self: stretch;

    align-content: center;
    justify-content: center;

    .auth-form {
        background-color: #adacac;
        color: white;
        display: grid;
        grid-template-rows: repeat(3, min-content);
        row-gap: 2px;
        padding: 5px;

        .header-auth {
            display: grid;
            align-content: center;
            align-items: center;
            grid-template-columns: min-content auto;
            column-gap: 2px;
            font-size: 20px;
        }

        .form {
            display: grid;
            justify-content: stretch;
            row-gap: 2px;
            padding-bottom: 5px;
            padding-top: 5px;
            input{
                border: #eeeeee 2px solid;
                border-radius: 0;
                &:focus-visible{
                    outline: 0;
                }
            }
        }

        .buttons-bar {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 2px;

            .button {
                padding: 2px;
                padding-left: 5px;
                padding-right: 5px;
            }

            .enter{
                border-color: #4ade80;
                &:hover{
                    background-color: #4ade80;
                    color: black;
                }
                &[disabled = true]{
                    background-color: transparent;
                    opacity: 0.5;
                }
            }
            .clear{
                border-color: #ef4444;
                &:hover{
                    background-color: #ef4444;
                    color: black;
                }
                &[disabled = true]{
                    background-color: transparent;
                    opacity: 0.5;
                }
            }
        }
    }
}