.image-button{
  display: grid;
  border: var(--action_component) var(--button_border) solid;
  height: auto;
  border-radius: 50% !important;
  padding:  var(--button_padding);
  align-self: center;
  justify-self: center;
  svg {
    fill: var(--action_component_content)
  }
  &:hover{
    background-color: var(--action_component);
    svg {
      fill: var(--action_component_content_hover);
    }
  }
  &[disabled = true]{
    background-color: var(--action_component_disable);
    opacity: 0.5;
  }
}

.text-button{
  border: var(--action_component) var(--button_border) solid;
  font-size: var(--button-font);
  border-radius: var(--button_radius) !important;
  padding:  var(--button_padding);
  min-width: 100px;
  &:hover{
    background-color: var(--action_component);
    color: var(--action_component_content_hover);
  }
  &[disabled = true]{
    background-color: var(--action_component_disable);
    opacity: 0.5;
  }
}
