.image-button{
  border: var(--action_component) var(--button_border) solid;
  height: auto;
  border-radius: 50%;
  padding:  7.5px;
  &:hover{
    background-color: var(--action_component);
  }
  &:disabled{
    background-color: var(--action_component_disable);
  }
}

.text-button{
  border: var(--action_component) var(--button_border) solid;
  height: var(--button_height);
  border-radius: var(--button_radius);
  padding:  var(--button_padding);
  &:hover{
    background-color: var(--action_component);
    color: var(--action_component_content_hover);
  }
  &:disabled{
    background-color: var(--action_component_disable);
  }
}
