.title-pane{
    width: 100%;
    background-color: var(--primary_color);
    border-radius: 5px;
    color: var(--text_color);
    .title{
        font-weight: 500;
        letter-spacing: .025em;
        padding: 5px;
        border-bottom: 1px grey solid;
    }

    .content{
        display: grid;
        align-items: stretch;
        justify-items: stretch;
        row-gap: 2px;
    }
}