.title_pane{
    width: 100%;
    background-color: var(--primary_color);
    border-radius: 5px;

    .title{
        padding: 5px;
        border-bottom: 1px grey solid;
    }

    .content{
        display: grid;
        align-items: stretch;
        justify-items: stretch;
    }
}