.cab{
  --h:78.6vh;
}

.lst{
  --h:85vh;
}

.item-on-left{
  justify-self: start;
}

.item-on-right{
  justify-self: end;
}

.gap{
  row-gap: 5px;
}

.list-of-publications {
  row-gap: 5px;
  @import "toolbar";
  @import "response-bar";

  .list {
    display: grid;
    max-height: var(--h);
    overflow: auto;
    width: 790px;
  }
}