.cab{
  //--h:78.6vh;
  --w: min-content;
}

.lst{
  //--h:85vh;
  --w:790px;
}

.item-on-left{
  justify-self: start;
}

.item-on-right{
  justify-self: end;
}

.gap{
  row-gap: 2px;
}

.list-of-publications {
  row-gap: 0px;
  @import "toolbar";


  .list {
    padding: 5px;
    display: grid;
    //max-height: var(--h);
    //overflow: auto;
    width: var(--w);
  }
}