@import "variable";
@import "button";
@import "card";
@import "header";
@import "tabs-component";
@import "navigation-menu";
@import "popup";
@import "new-publications";
@import "toolbar";

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#app {
    height: 100vh;
    width: 100vw;
    font-family: "Yandex Sans Text";
    .site {
        height: 100vh;
        width: 100vw;
        .workspace {
            height: 98.8%;
            width: 80%;
            margin: 5px;
        }
    }
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #343A40;
    margin: 1px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #747474;
}