.new-publication>.top{
    display: grid;
    justify-content: end;
}

.new-publication {

    .new-publication-item-view {
        display: grid;
        padding: 5px;
        row-gap: 5px;
    }

    .new-publication-content {
        row-gap: 5px;
        @import "toolbar";

        .editor {
            display: grid;
            row-gap: 5px;

            .title {
                height: 40px;
                border: #eeeeee 2px solid;
                border-radius: 10px;
                font-size: 30px;
                padding-left: 10px;
            }
        }
    }

}