.image-left{
    grid-template-areas: "image text buttons";
    grid-template-columns: 100px 540px 50px;
}

.image-right{
    grid-template-areas: "buttons text image";
    grid-template-columns: 50px 540px 100px;
}

.publication-item{
    display: grid;
    padding: 0;
    margin: 0;
    align-content: center;
    align-items: center;
    height: 100px;
    width: fit-content;

    .image{
        display: grid;
        grid-area: image;
        width: 100px;
        height: 100px;
        align-content: center;
        justify-content: center;
    }

    .text-is-dark{
        --textColor: #000000;
    }

    .text-is-light{
        --textColor: #ffffff;
    }

    .text{
        grid-area: text;
        padding: 15px;
        justify-content: start;
        justify-items: start;
        justify-self: start;

        label{
            color: var(--textColor);
        }
    }

    .text-left{
        justify-content: right;
        justify-items: right;
        justify-self: right;
    }

    .text-right{
        justify-content: left;
        justify-items: left;
        justify-self: left;
    }

    .buttons{
        display: grid;
        grid-area: buttons;
        opacity: 0;
        padding: 5px;
        align-items: center;
        justify-items: center;
        row-gap: 5px;
    }
    &:hover{
        .buttons{
            opacity: 1;
        }
    }
}