.image-left {
  grid-template-areas: "image text buttons";
  grid-template-columns: var(--publication_item_h) auto min-content;
}

.image-right {
  grid-template-areas: "buttons text image";
  grid-template-columns: min-content auto var(--publication_item_h);
}

@keyframes transform-scale-to {
  from {
    transform: scale(1.0)
  }
  to {
    transform: scale(1.075)
  }
}

@keyframes transform-scale-from {
  from {
    transform: scale(1.075)
  }
  to {
    transform: scale(1.0)
  }
}

.mouse-leave {
  animation: transform-scale-from 0.5s;
  transform: scale(1.0);
}

.mouse-enter {
  animation: transform-scale-to 0.5s;
  transform: scale(1.075);
}

.publication-item {
  display: grid;
  padding: 0;
  margin: 0;
  align-content: center;
  align-items: center;
  height: var(--publication_item_h);
  width: 650px;
  background-color: var(--background);

  .image {
    display: grid;
    grid-area: image;
    width: var(--publication_item_h);
    height: var(--publication_item_h);
    align-content: center;
    justify-content: center;
  }

  .text {
    grid-area: text;
    display: grid;
    padding: 15px;
    align-self: stretch;
    align-items: end;
    justify-content: stretch;
    justify-items: stretch;
    justify-self: stretch;

    label {
      color: var(--color);
      text-align: center;
    }
  }

  .buttons {
    display: grid;
    grid-area: buttons;
    opacity: 0;
    padding: 5px;
    align-items: center;
    justify-items: center;
    row-gap: 5px;

    .image-button {
      svg {
        fill: var(--color);
      }

      &:hover {
        svg {
          fill: white;
        }
      }
    }
  }

  &:hover {
    .buttons {
      opacity: 1;
    }
  }
}