.publication {
    z-index: 100;
    .popup {
        grid-template-rows: 150px auto 50px;

        .popup_header {
            font-size: 30px;
            font-family: Yandex-UI-Icons-Private;
            display: grid;
            align-self: stretch;
            justify-self: stretch;
            align-content: stretch;
            justify-content: stretch;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding: 0;
            .title {
                display: grid;
                align-content: center;
                justify-content: center;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;

                h1 {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}
