.publication {
    z-index: 100;

    .popup {
        grid-template-rows: minmax(150px, min-content) auto 50px;

        .popup_header {
            font-size: 30px;
            display: grid;
            align-self: stretch;
            justify-self: stretch;
            align-content: stretch;
            justify-content: stretch;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding: 0;

        }

        .content {
            padding: 5px;
        }
    }
}
