.publication {
    z-index: 100;

    .popup {
        grid-template-rows:  min-content auto 50px;

        .popup_header {
            font-size: 30px;
            display: grid;
            align-self: stretch;
            justify-self: stretch;
            align-content: stretch;
            justify-content: stretch;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding: 0;
        }

        .content {
            margin-top: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
            max-height: 100%;
            overflow-y: auto;
        }
    }
}
