.none{
  --color_status: transparent;
  --color_text:transparent;
}

.good{
  --color_status: green;
  --color_text:black;
}

.warning{
  --color_status: yellow;
  --color_text:black;
}

.alarm{
  --color_status: red;
  --color_text:black;
}

.response-bar{
  display: grid;
  grid-template-columns: 130px 50px 140px auto;
  height: 30px;
  background-color: var(--color_status);
  color: var(--color_text);
  border-radius: 10px;
  align-items: center;
  justify-items: center;
  padding: 5px;
  font-size: 20px;
}