
.dimension{
  --button_font:16px;
  --button_border: 2px;
  --button_radius: 25px;
  --button_padding: 5px;

  --navigate_menu_width: 150px;
  --navigate_menu_height: 100%;
  --navigate_button_height: 20px;

  --publication_item_h: calc(min(140px, 18vw));

  --tab_h: 34px;
  --toolbar_h: 38px;

  --header_h: 75px;

  --workspace_h: calc(100 * var(--height_per) - var(--header_h))
}

.light {
  --background: #ffffff;

  --primary_color: #C8C8C8;
  --secondary_color: #535152;

  --action_component: #535152;
  --action_component_hover: #535152;
  --action_component_disable: #535152;

  --action_component_content: #535152;
  --action_component_content_hover: white;
  --action_component_content_disable: #535152;

  --text_color: black;
  --btn_text_color: black;
}


@media (max-width: 600px) {
  .dimension {
    --header_h: 40px;
  }
}