.header {
  padding: 5px;
  .left, .right{
    max-width: 200px;
    min-width: 200px;
  }

  .right, .left, .logo{
    display: grid;
    align-self: stretch;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-self: center;
  }

  .bottom {
    display: grid;
    justify-content: center;
    justify-items: center;
    .menu {
      display: grid;
      border-top: #2c3e50 1px solid;
      grid-template-columns: repeat(4, minmax(50px, 100px));
      justify-self: center;
      justify-content: center;
      padding-top: 15px;
      align-self: center;
      align-items: center;
      align-content: center;
    }
  }
}