@import "variable";
@import "button";
@import "card";
@import "tabs-component";
@import "navigation-menu";
@import "toolbar";
@import "popup";

body {
    margin: 0;
    width: 100vw;
    background-color: var(--background);
}

#app {
    width: 100vw;
    font-family: "Yandex Sans Text";
    background-color: var(--background);

    .site {
        height: calc(100 * var(--height_per));
        width: 100vw;

        .workspace {
            height: var(--workspace_h);
        }

        .content-viewport {
            top: 100px;
            margin: 0 auto;
            width: max-content;

            .content-container {
                //height: calc(var(--height_per) * 100 - var(--header_h) - 15px);
                //overflow-y: auto;
            }
        }

    }
}

.no-scroll {
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #343A40;
    margin: 1px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #747474;
}