.tool-bar{
    padding: 2px 0;
    display: flex;
    height: var(--toolbar_h);
    align-content: center;
    justify-content: start;
    align-self: stretch;
    justify-self: stretch;
    column-gap: 5px;
    font-family: "Yandex Sans Text";
}